/* Style for our header texts
* --------------------------------------- */
h1{
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
}
/* Centered texts in each section
* --------------------------------------- */
#fullPage {
  position: relative;
}
.section{
	text-align:center;
  background-color: black !important;
  color: white;
}

.video {
  width: 100%;
  height: 100%;
  padding: 0 0 60px 0;
  box-sizing: border-box;
}

.videoControl {
	max-width: 100vw;
  max-height: 100vh;
	cursor: pointer;
	position: relative;
	}

.videoControl:hover > .videoImage {
	opacity: 0.8;
}

.videoControl:hover > .videoPlay {
	transform: scale(1.05);
}

.videoImage {
  max-width: 100%;
  max-height: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.videoPlay {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	height: 200px;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.intro {
	max-width: 100vw;
  max-height: 100vh;
	position: relative;
}

.icon {
	padding: 5px;
  opacity: 0.4;
  background-color: white;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 25px;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.icon:hover  {
  opacity: 0.9;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.fp-controlArrow {
  opacity: 0.4;
  background-color: white;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.fp-controlArrow:hover  {
  opacity: 0.9;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.fp-slidesNav.bottom {
	bottom: 10px;
}
.social-icons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}
@media (max-width: 768px) {
  .fp-slidesNav.bottom {
    bottom: 50px;
  }
	.social-icons {
	  position: absolute;
	  bottom: 10px;
		margin-left: -84px;
		left: 50%;
	}
	.video {
	  width: 100%;
	  height: 100%;
	  padding: 0 0 90px 0;
	  box-sizing: border-box;
	}
}
