	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
	}
	/* Centered texts in each section
	* --------------------------------------- */
  #fullPage {
    position: relative;
  }
  .section{
		text-align:center;
    background-color: black !important;
    color: white;
	}
	/* Overwriting styles for the navigation dots (to place it where we want)
	* --------------------------------------- */
	.fp-slidesNav.bottom{
		bottom: 10px;
	}

  .video {
    width: 100%;
    height: 100%;
    padding: 0 50px 60px 50px;
    box-sizing: border-box;
  }

	.videoControl {
		max-width: 100vw;
    max-height: 100vh;
		cursor: pointer;
		position: relative;
 	}

	.videoControl:hover > .videoImage {
		opacity: 0.8;
	}

	.videoControl:hover > .videoPlay {
		transform: scale(1.05);
	}

	.videoImage {
    max-width: 100%;
    max-height: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
	}

	.videoPlay {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -100px;
		margin-top: -100px;
		height: 200px;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
	}

	.intro {
		max-width: 100vw;
    max-height: 100vh;
		position: relative;
	}


  .social-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999999999999;
  }

  .icon {
    opacity: 0.7;
    background-color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 25px;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }

  .icon:hover  {
    opacity: 0.5;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
	#video-background {
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: -100;
	}
